<header>
  <nav>
      
      <ul id="nav-links" class="hidden">
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/upcoming">Upcoming Movies</a></li>
          <li><a href="/topRated">Top Rated Movies</a></li>
          <li><a href="/randomMovie">Random Movie</a></li>
      </ul>
      
  </nav>
</header>
